meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos del vestuario III
meta(meta name="description" content="El componente formativo 3 cierra el ciclo de información específica sobre fundamentos del vestuario. En este se abordarán tres unidades que permitirán la adquisición de bases teóricas y conceptuales de utilidad para un desempeño óptimo del desarrollador de colecciones en el entorno productivo; es así como las unidades: teoría de la forma, diseño y planos y, figurín y ropero se presentan para agregarse a los conocimientos ya adquiridos.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")