h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 290601216-1. Determinar la información técnica requerida en el desarrollo de vestuario según las necesidades del usuario, tendencias y métodos.