.container#teoria

    .header-ecored
        h1 1. Teoría de la Forma
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")
        .card-body
            .row
                .col-12
                    p Para el desarrollo de un producto de moda, es fundamental el conocimiento de “#[b.txt-color1 Teoría de la forma]”, para comprender, conceptualizar y aplicar las diferentes temáticas relacionadas con el cuerpo humano, para #[b.txt-color1 transformarlo] y modificar su apariencia, estructura y estética.
    
    .row.mx-0.bg-color1.rounded.mt-4.shadow
        .col-12.my-5
            .row.justify-content-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
                .col-9
                    p.mb-0 (…) la fabricación de la primera envolvencia corporal se concibe, desde sus orígenes como un proyecto arquitectónico desde la epidermis, se transfiere a la piel artificial los anhelos de metamorfosis implícitos en el ser humano, que en un proceso de mutación de forma, textura y color en el lienzo térmico se transforma modificando su identidad.
                .col-auto.align-self-end
                    img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")
    
    .row.mx-0.bg-color1.rounded.mt-4.shadow
        .col-12.my-5
            .row.justify-content-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
                .col-9
                    p.mb-0 (…) la vestimenta, como primera envolvente artificial es desde su invención, la materialización de un proyecto de carácter arquitectónico que en su proceso de diseño incorpora los conceptos de dimensión y escala; función y forma; estructura, material y construcción; técnica e instrumentación.
                .col-auto.align-self-end
                    img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")
                .col-9.mt-4.text-right
                    p.txt-color1.mb-0 #[i (Alcoceba, 2015, p. 19 y 20)]
    
    .row.mx-0.bg-color1.rounded.mt-4.shadow
        .col-12.my-5
            .row.justify-content-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
                .col-9
                    p.mb-0 Además de proteger el cuerpo ante las inclemencias climáticas y de las hostilidades del ambiente que nos rodea, el vestido nos distingue. Se presenta como símbolo de pertenencia a cierto grupo étnico o a cierto estatus social. Paradójicamente, el vestido nos individualiza a la vez que nos hace desaparecer frente a nuestros semejantes.
                .col-auto.align-self-end
                    img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")
                .col-9.mt-4.text-right
                    p.txt-color1.mb-0 #[i (Avilés, 2016, p. 3)]
    
    .row.mt-4.rounded.shadow.mx-0.p-4
        .col-12
            p En el mundo visual #[b.txt-color1 la forma es percibida e interpretada por los sentidos], todo se estructura alrededor de como sean percibidas las sensaciones. El objetivo fundamental de esta temática es generar una invitación a #[b.txt-color1 explorar nuevas maneras de interpretar] y llevar a un estado visual las sensaciones generadas en el cerebro como producto de los estímulos externos, teorizar y recoger conceptos acerca de las formas y plantear el concepto de “Forma” a partir del entorno natural, abstracto e imaginario de acuerdo a las experiencias previas del individuo. 
            p.mb-0 #[b.txt-color1 El oído, el gusto, el tacto, la visión y el olfato son el principal medio de construcción de la forma.]
    
    img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 100%").img-a1

    br#forma

    .header-ecored
        h2 1.1 La forma y sus significados, la psicología de la Gestalt
    
    .jumbotron.bg-white.shadow
        p #[b.txt-color1 La forma es todo lo que el ojo puede ver o interpretar] y se asocia a diferentes conceptos, partiendo del punto, que es la mínima expresión de la representación espacial, es el principio o es el final.
        img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 100%").img-a1
    
    .row.mx-0.bg-color1.rounded.mt-4.shadow
        .col-12.my-5
            .row.justify-content-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
                .col-9
                    p.mb-0 (…) el todo es siempre más que la suma de sus partes”. Esta frase revela exactamente los principios de la teoría de esta corriente: es decir, descubrir porque el cerebro humano tiende a interpretar un conjunto de elementos diferentes como un único mensaje, y como nuestra mente agrupa las informaciones que recibimos en categorías mentales que nosotros mismos hemos establecido. En el ámbito de las artes gráficas, este estudio de la percepción es fundamental a la hora de analizar como el ojo humano lee un determinado esquema, como distingue las formas y los elementos que lo componen y la unidad del mensaje y del significado.
                .col-auto.align-self-end
                    img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")
                .col-9.mt-4.text-right
                    p.txt-color1.mb-0 #[i (Lorella, 2016)]
    
    .row.mt-4.mx-0.bg-color2.p-4.shadow
        .col-12.col-md-6.bg-color3
            p.mt-4 La aplicación de estas leyes, es la que da #[b.txt-color1 coherencia y armonía] al momento de realizar una #[b.txt-color1 propuesta de vestuario] con un sentido propio. En el álbum que encuentra a continuación podrá conocer algunos ejemplares que dan cuenta de este contexto temático.
            p.mb-4   En el material complementario encuentra el video “La teoría de Gestalt”  y el blog “¿Qué es la teoría de la Gestalt”  que le ayudarán a construir un panorama más amplio de este tema.
    
    .row.mx-0.shadow
        .col-12.px-0
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    li(data-target='#carouselExampleIndicators', data-slide-to='4')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='assets/images/pages/img5.png', alt='0')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img6.png', alt='1')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img7.png', alt='2')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img8.png', alt='3')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img9.png', alt='4')
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
    section.bg-color5.shadow
        .row.justify-content-center.p-4
            .col-auto
                a(href="https://www.linkedin.com/learning/diseno-para-no-disenadores-formato-y-composicion/la-gestalt?u=84303994" target="_blank").media-link
                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p La teoría de la Gestalt
            .col-auto
                a(href="https://www.stampaprint.net/es/blog/acerca-de-la-impresion/la-teoria-la-gestalt" target="_blank").media-link
                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p ¿Qué es la Teoría de la Gestalt?
    br#semiotica

    .header-ecored
        h2 1.2 Semiótica, semántica, simbolización de las formas y volúmenes
    
    .row.mt-4.mx-0.bg-color4.p-4.shadow
        .col-12.col-md-6.bg-color3
            p.mt-4 Con la #[b.txt-color1 semiótica y semántica] se interpretan los signos no verbales y verbales, su base es filosófica, psicológica y sociológica, #[b.txt-color1 descifrando los gustos, preferencias y actitudes de las personas o grupos sociales] con respecto al entorno; permiten analizar y entender cómo se percibe el mundo desde diferentes miradas sociales, analizando la transformación física, mental y comportamental de las personas, asumiéndose como parte integral de #[b.txt-color1 una cultura] que armoniza con sus #[b.txt-color1 prácticas sociales].
    .row.bg-color5.mx-0.p-4.align-items-center.shadow
        .col-12.col-md-6
            p Lo anterior, lleva a entender que cada cuerpo es diferente, aunque conserve una misma estructura y que el #[b.txt-color1 vestuario es el encargado de transformarlo], la selección de este puede #[b.txt-color1 favorecer o desfavorecer] la apariencia estética, existen múltiples opciones, la decisión final le pertenece a cada individuo, quien visualiza, vive y siente el mundo como lo percibe.
        .col-12.col-md-6
            img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 100%").img-a1
    .row.mx-0.p-4.shadow.align-items-center.bg-color6
        .col-12
            p Es tarea del #[b.txt-color1 profesional de la moda], utilizar las herramientas, que le dan múltiples opciones para transformar la forma del cuerpo por medio del vestuario, teniendo siempre presente que los excesos son perjudiciales y es el control (o límite), la clave para:
        .col-12.col-md-6
            .row.justify-content-center
                .col-11
                    .list.align-items-center
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0 Engrosar o adelgazar.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0 Estirar o recoger.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0 Aparecer o desaparecer.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0 Resaltar u ocultar.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0 Mejorar o empeorar líneas.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0 Moderar o exagerar formas.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0 Controlar o descontrolar.
        .col-12.col-md-6
            img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 60%").img-a
        .col-12.mt-4
            p De esta manera es como se logra obtener volúmenes y diferentes simbolizaciones de la forma.
            p Un aspecto relevante de la semiótica, es el manejo, aplicación y control del color, este representa uno de los elementos más poderosos para captar la atención y producir reacciones emocionales en el receptor.
            p Analice un poco más a fondo esta temática revisando el siguiente documento:
            section.mt-4
                .row.justify-content-center
                    .col-auto
                        a(href="media/documentos/Anexo_1.ppt" target="_blank").media-link
                            img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                            .media-link-title
                                p  Ejercicio de reconocimiento de la figura humana
    
    .row.shadow.mt-4.mx-0
        .col-12.px-0
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/JWKhsr9pqsc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#formas

    .header-ecored
        h2 1.3 Formas geométricas, formas naturales
    
    .card.shadow
        .card-body
            .row.align-items-center
                .col-12.col-md-6
                    p La #[b.txt-color1 naturaleza es la especialista] en generar formas diversas, que interpretadas son una herramienta especial para la transformación del vestuario.
                    p Toda representación toma forma cuando el #[b.txt-color1 punto se repite], genera movimiento y una dirección creando figuras reconocidas, como, por ejemplo, #[b.txt-color1 el circulo que es la forma perfecta] y produce sensación de suavidad, armonía, ternura, fragilidad y movimiento; seguido del #[b.txt-color1 ovalo] que se relaciona con la delicadeza, tranquilidad, suavidad y femineidad. Las formas circulares y ovales tienden a transmitir sensaciones positivas.
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 60%").img-a
                .col-12.mt-md-4
                    p.mb-4 Las formas anguladas como #[b.txt-color1 el cuadrado], que es una representación estática y estable se asocia a ideas de estabilidad, permanencia, torpeza, honestidad, rectitud, esmero, rigidez, seriedad y equilibrio.
                .col-12.col-md-6
                    p #[b.txt-color1 Las líneas rectas] y precisas también transmiten un sentimiento de fuerza, profesionalismo y eficiencia, como #[b.txt-color1 la línea vertical] que sugiere equilibrio, fuerza, dignidad, nacimiento, espiritualidad, ascenso, elevación y vida; #[b.txt-color1 la horizontal] genera estabilidad, enfatiza y sugiere reposo, pasividad, estabilidad y muerte. #[b.txt-color1 Las líneas ascendentes] sugieren decisión juventud y salida, #[b.txt-color1 las perpendiculares] sugieren apoyo y firmeza; formas anguladas sugieren elevación y misticismo, #[b.txt-color1 las quebradas] peligro, energía, nerviosismo y conflicto; las curvas de movimiento ondulante son femeninas, maternales y sensuales; #[b.txt-color1 la espiral] indica movimiento continuo y evolución, cambio, creatividad originalidad y rompe con lo establecido, también se les relaciona con la tecnología y el deporte, #[b.txt-color1 los trazos delgados y suaves] evocan la fragilidad y delicadeza, así como la sencillez de la elegancia, #[b.txt-color1 los gruesos] generan la sensación de solidez y mayor peso.
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img15.png", style="max-width: 60%").img-a
                .col-12
                    p.mt-4 #[b.txt-color1 El triángulo equilátero] con la punta hacia arriba evoca grandeza, ascenso y misticismo, con la punta hacia abajo sugiere depresión y descanso; se asocia con el poder, ciencia, religión y justicia, se le relaciona con la acción a la amenaza, al conflicto, a la tensión, con la masculinidad;
    
    br#formas1

    .header-ecored
        h2 1.4 Las formas en el diseño de vestuario
    
    .row.mx-0.bg-white.shadow
        .col-12.col-md-6.bg-color7
            p.pt-6.mt-4 La configuración de #[b.txt-color1 cada persona es diferente], depende de su constitución física, edad, género, procedencia, hábitos alimenticios, costumbres, clima, entre otros, que definen su #[b.txt-color1 estructura ósea y musculatura]; es decir, su #[b.txt-color1 forma corporal]. Se pueden encontrar personas muy voluminosas o muy delgadas, con extremidades cortas o largas, con mucho o poco volumen en cadera, cintura, torso, vientre, hombros, personas erguidas o enjutos.
        .col-12.col-md-6
            img.img-fluid(src="assets/images/pages/img16.png", style="max-width: 100%").img-a1
    .row.mx-0.bg-white.shadow
        .col-12.col-md-6
            img.img-fluid(src="assets/images/pages/img17.png", style="max-width: 100%").img-a1
        .col-12.col-md-6.bg-color8
            p.pt-6.mt-4 Cuando se va a construir el vestuario, #[b.txt-color1 lo primero] que se debe tener en cuenta es un #[b.txt-color1 análisis antropométrico] y determinar las características propias de la persona, que van desde los pies hasta la cabeza, teniendo en cuenta que #[b.txt-color1 cada individuo es único]. Las grandes diferencias se encuentran en: estatura, talle, contorno de hombro, contorno de cintura, contorno de cadera, contorno de muslo, contorno de brazos, perfil de busto, perfil del abdomen y perfil del derriere.
    .row.mx-0.bg-white.shadow.justify-content-center
        .col-12.col-md-6.bg-color7
            p.pt-6.mt-4 Dependiendo de las características físicas, los resultados que se buscan al elaborar el vestuario, se logran a través de #[b.txt-color1 efectos de confección y patronaje] que adelgacen, ensanchen, equilibren, reduzcan, acentúen, destaquen y simulen o efectos aerodinámicos que favorezcan la apariencia estética de las personas. Además, la utilización de accesorios, complementos, material textil, texturas, procesos, acabados y colores también ayudan a #[b.txt-color1 cambiar la apariencia] estética, teniendo siempre presente la funcionalidad.
        .col-12.col-md-6
            img.img-fluid(src="assets/images/pages/img18.png", style="max-width: 100%").img-a1
        .col-10.p-4
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/9t_CihSARHE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#exploracion

    .header-ecored
        h2 1.5 Exploración de la forma
    
    .row.mt-4.mx-0.shadow
        .col-12.px-0
            #carouselExampleIndicators1.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators1', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators1', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators1', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators1', data-slide-to='3')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='assets/images/pages/img22.png', alt='0')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img23.png', alt='1')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img24.png', alt='2')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img25.png', alt='3')
                a.carousel-control-prev(href='#carouselExampleIndicators1', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators1', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next