.container#diseno

    .header-ecored
        h1 2. Diseño y planos técnicos

    .card.shadow
        img.img-fluid(src="assets/images/pages/img26.png", style="max-width: 100%")
        .card-body
            .row
                .col-12
                    p El dibujo técnico es la rama de representación que se emplea en la industria para representar los objetos a realizar. Su diferencia con la ilustración, es que el dibujo técnico es normalizado o estandarizado internacionalmente, ya que usa medidas precisas (llamadas cotas) que orientan la fabricación de los productos.
                    p.mt-4 En el diseño de modas se emplea para hacer los planos técnicos (geometrales) tanto de las prendas como de los insumos y accesorios a emplear.

    br#dibujo

    .header-ecored
        h2 2.1 Dibujo técnico: escuadra ángulos y líneas paralelas
    
    .card.shadow
        .card-body.bg-color9
            .row.align-items-center
                .col-12.col-md-6
                    p.text-white El dibujo como medio de expresión, desempeña un papel de primer orden en las actividades humanas, puesto que antes de que se cree el proyecto, cualquiera que sea, es necesario diseñarlo con sus características e indicaciones en un dibujo. El dibujo técnico es una rama del dibujo, que se emplea en la industria, para representar objetos o ideas técnicas de carácter práctico, por medio de líneas, símbolos y convenciones se otorga información útil a quien llevará a cabo su materialización.
                    p.text-white.mt-4 El trazo de dibujo técnico se logra mediante variadas líneas, se diferencia del dibujo a mano alzada por el uso de instrumentos, tales como: escuadra, cartabón, compás, transportador, lápices en diferentes durezas que van de la 2H a la 6B, escalímetro, entre otros; para conseguir la precisión en las medidas, ángulos y proporciones.
                    p.text-white.mt-4 #[i (Castellanos (2009); Concepto.de, s.f.; Parramón (2007); Pérez (1998); SENA; Barco; Martínez y Motivar (1984)].
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img27.png", style="max-width: 100%").img-a
        .row
            .col-12
                nav.nav-tab-ecored
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true')
                            strong Para qué es el dibujo técnico
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false')
                            strong Dibujos antiestrés
                        a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false')
                            strong Trazado de paralelas y perpendiculares
                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false')
                            strong  Uso de escuadra y cartabón, paralelas y perpendiculares
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/gCTalQvVmeA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/GcaRZAsjIa4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Kwb7U5sC9dI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/okjnJuAzG84', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.p-4.bg-color10.mx-0
            .col-12.col-md-6
                section
                    .row.justify-content-center
                        .col-auto
                            a(href="media/documentos/Anexo_2.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Dibujo y sistemas de representación - Uso de las escuadras
            .col-12.col-md-6
                section
                    .row.justify-content-center
                        .col-auto
                            a(href="media/documentos/Anexo_3.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Uso de escuadras como hacer rectas paralelas y perpendiculares
            .col-12
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.youtube.com/user/profesoraltuna/videos?view=0&sort=da&flow=grid" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Canal de YouTube - Profesor Altuna
    
    br#lineas

    .header-ecored
        h2 2.2 Líneas rectas, lenguaje de líneas y escalas
    
    .card.shadow
        .card-body
            .row
                .col-12
                    p En el dibujo técnico se emplean diferentes tipos de líneas para describir las #[b.txt-color1 figuras de los objetos] a realizar. Las más conocidas son:
        .row.mx-0
            .col-12.col-md-6.bg-color9
                img.img-fluid(src="assets/images/pages/img3.svg", style="max-width: 100%").img-a
            .col-12.col-md-6.bg-color10.p-4
                p En el dibujo técnico se emplean varios tipos de líneas, a lo que se le denomina lenguaje o valor de líneas, estas han sido normalizadas o estandarizadas con el fin de que su interpretación sea la misma en cualquier lugar del mundo.  Para la rotulación de los planos se emplea la letra técnica, que al igual que las líneas se encuentra normalizada.
                p.mt-4 La escala es la relación de tamaño entre el objeto real y el dibujo que lo está representando, ya que, si se va a dibujar una casa, un auto o una prenda de vestir, no se podrá dibujar a tamaño real (lo que se denomina escala 1:1) sino que deberá hacerse a una escala menor y así poder trazarlo en una pieza de papel. 
                p.mt-4 #[i (González, 2017; Pérez, 1998; SENA et al., 1984; Significados, s.f.)].
        .row
            .col-12
                nav.nav-tab-ecored
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-05-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='true')
                            strong Letra normalizada - con audio
                        a#nav-06-tab.nav-item.nav-link(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false')
                            strong Escalas - dibujo técnico
                        a#nav-07-tab.nav-item.nav-link(data-toggle='tab', href='#nav-07', role='tab', aria-controls='nav-07', aria-selected='false')
                            strong Aprende sobre el uso del escalímetro en un minuto. Modos de uso del escalímetro
                    #nav-tabContent.tab-content
                        #nav-05.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-05-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Qp_OPq1FQwk', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2dzfmbITR7o', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-07.tab-pane.fade(role='tabpanel', aria-labelledby='nav-07-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Cihw88CFEr4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.p-4.bg-color10.mx-0
            .col-12.col-md-6
                section
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.significados.com/linea/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Significado de Línea
            .col-12.col-md-6
                section
                    .row.justify-content-center
                        .col-auto
                            a(href="https://dibujotecnico.com/lineas-normalizadas/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Líneas normalizadas
            .col-12
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.mvblog.cl/apuntes/dibujo/dibujo-tecnico-tipos-de-linea-y-usos/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Dibujo Técnico: tipos de línea, grosores y usos
            .col-12
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.youtube.com/c/ArturoGeometria/videos?view=0&sort=da&flow=grid" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Geometría
    
    br#dibujo1

    .header-ecored
        h2 2.3 Dibujo desde la observación, plano técnico y cotas
    
    .row.shadow.bg-color11.mx-0.p-4
        .col-12.col-md-6.bg-white.p-4.rounded
            p El dibujo de objetos #[b.txt-color1 comienza por la observación], cuando se observa para dibujar se tienen en cuenta detalles, proporciones y la construcción en general de los mismos. Una vez observado se pasa al #[b.txt-color1 proceso de bocetos], en el que se hacen anotaciones a tener en cuenta al momento de realizar los planos.
            p El #[b.txt-color1 plano técnico] es la representación bidimensional (2D) de un objeto, consta de las siguientes vistas: planta, alzado, inferior, perfil derecho, perfil izquierdo y posterior, de las cuales se presentan las que sean requeridas; es decir, si llevan información se tienen en cuenta, de lo contrario se omiten.
    .row.p-4.shadow.bg-color10.mx-0
        p Adicional a las vistas, #[b.txt-color1 se presentan los cortes], en los cuales se muestran partes internas o detalles de los productos.
        p El proceso de acotado o #[b.txt-color1 marcación de las cotas] es fundamental en el dibujo técnico, pues es con estas que se determinan medidas, diámetros, espesores, ángulos y proporciones. Un correcto acotado tiene el número preciso de las medidas, ni más, ni menos de las necesarias.
        p #[i Adaptado de Arturo Geometría (2019); Biguri (s.f.); Etiduela (s.f.); Raya & Dibujar Bien. (2013)].
        img.img-fluid(src="assets/images/pages/img30.png", style="max-width: 100%").img-a
    .row.shadow.mx-0
        .col-12.px-0
            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-08-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-08', role='tab', aria-controls='nav-08', aria-selected='true')
                        strong Cómo dibujar bien: secretos de las proporciones y medidas
                    a#nav-09-tab.nav-item.nav-link(data-toggle='tab', href='#nav-09', role='tab', aria-controls='nav-09', aria-selected='false')
                        strong Tecnicas para aprender a dibujar - el trazo y ejercicios para calentar
                    a#nav-10-tab.nav-item.nav-link(data-toggle='tab', href='#nav-10', role='tab', aria-controls='nav-10', aria-selected='false')
                        strong Manejo de compás
                #nav-tabContent.tab-content
                    #nav-08.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-08-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8wm4YXIvGO0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-09.tab-pane.fade(role='tabpanel', aria-labelledby='nav-09-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/R6olMYk8KYg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-10.tab-pane.fade(role='tabpanel', aria-labelledby='nav-10-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/cPNB1f1Cxhc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    .row.shadow.mx-0
        .col-12.px-0
            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-11-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-11', role='tab', aria-controls='nav-11', aria-selected='true')
                        strong Curso de Geometrales y Fichas Tecnicas
                    a#nav-12-tab.nav-item.nav-link(data-toggle='tab', href='#nav-12', role='tab', aria-controls='nav-12', aria-selected='false')
                        strong Acotación - Normas básicas para aprender a acotar
                #nav-tabContent.tab-content
                    #nav-11.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-11-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/FYNESsXntAw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-12.tab-pane.fade(role='tabpanel', aria-labelledby='nav-12-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/v1vjHB60c8Q', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    .row.bg-color10.mx-0.pb-4.shadow
        .col-12.col-md-6
            section.mt-4
                .row.justify-content-center
                    .col-auto
                        a(href="https://ibiguridt.wordpress.com/temas/vistas/#vistas" target="_blank").media-link
                            img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                            .media-link-title
                                p Vistas de piezas
        .col-12.col-md-6
            section.mt-4
                .row.justify-content-center
                    .col-auto
                        a(href="media/documentos/Anexo_4.pdf" target="_blank").media-link
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                            .media-link-title
                                p Geometrales
        .col-12.col-md-6
            section.mt-4
                .row.justify-content-center
                    .col-auto
                        a(href="https://www.pinterest.es/pin/312366924129653797/?nic_v1=1aHzF6Qj7kxamPeUpupd8Ep8UM3Dv%2BquUKwn96BEBBExyc2kMhRYATeRbiK7aHT2Wk" target="_blank").media-link
                            img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                            .media-link-title
                                p  Imágenes en Pinterest - dimensión cota
        .col-12.col-md-6
            section.mt-4
                .row.justify-content-center
                    .col-auto
                        a(href="media/documentos/Anexo_5.pdf" target="_blank").media-link
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                            .media-link-title
                                p Acotación

    br#transformaciones

    .header-ecored
        h2 2.4 Transformaciones geométricas, ángulos y proyecciones
    
    .card.shadow
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/v1vjHB60c8Q', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body.bg-color10
            p En el dibujo técnico se recurre a la #[b.txt-color1 transformación geométrica de las formas], como son la traslación, rotación, simetría, entre otras, para el desarrollo de los planos y de las proyecciones tridimensionales de las piezas.
            p.mt-4 La #[b.txt-color1 proyección gráfica de un objeto en tres dimensiones] se denomina #[b.txt-color1 isometría] y, según el sistema normalizado en el que se trabaje, se realizan bajo proyecciones a diferentes ángulos y con relación a diferentes vistas.
            p.mt-4 #[i (Biguri (s.f.); Castellanos (2009); Dibujo Técnico paso a paso (2019); Mulet (2014)].
    
    .row.shadow.mx-0
        .col-12.px-0
            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-13-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-13', role='tab', aria-controls='nav-13', aria-selected='true')
                        strong Traslación de figuras geométricas
                    a#nav-14-tab.nav-item.nav-link(data-toggle='tab', href='#nav-14', role='tab', aria-controls='nav-14', aria-selected='false')
                        strong Giro de una figura (Transformaciones geométricas: Igualdad)
                    a#nav-15-tab.nav-item.nav-link(data-toggle='tab', href='#nav-15', role='tab', aria-controls='nav-15', aria-selected='false')
                        strong Como dibujar una perspectiva a dos puntos de fuga
                #nav-tabContent.tab-content
                    #nav-13.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-13-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/CYK5rZE6hW4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-14.tab-pane.fade(role='tabpanel', aria-labelledby='nav-14-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NummIe4XG2U', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-15.tab-pane.fade(role='tabpanel', aria-labelledby='nav-15-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/un6QINDDsjs', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    .row.shadow.mx-0
        .col-12.px-0
            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-16-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-16', role='tab', aria-controls='nav-16', aria-selected='true')
                        strong Dibujar una figura en perspectiva isométrica con curva
                    a#nav-17-tab.nav-item.nav-link(data-toggle='tab', href='#nav-17', role='tab', aria-controls='nav-17', aria-selected='false')
                        strong Perspectiva de 2 puntos para artistas
                #nav-tabContent.tab-content
                    #nav-16.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-16-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/wQeEt2RFfK0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-17.tab-pane.fade(role='tabpanel', aria-labelledby='nav-17-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/IREoh0PkgTw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')