.container#figurin

    .header-ecored
        h1 3. Figurín y ropero
    
    .card.bg-color9.shadow
        .card-body
            .row
                .col-1
                    #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                        a#v-pills-home-tab.nav-link.active(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='true') 
                            h3.mb-0.text-center
                                span 
                                    i.fa.fa-caret-right.mr-2
                        a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false')
                            h3.mb-0.text-center
                                span 
                                    i.fa.fa-caret-right.mr-2
                        a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-messages', role='tab', aria-controls='v-pills-messages', aria-selected='false')
                            h3.mb-0.text-center
                                span 
                                    i.fa.fa-caret-right.mr-2
                        a#v-pills-settings-tab.nav-link(data-toggle='pill', href='#v-pills-settings', role='tab', aria-controls='v-pills-settings', aria-selected='false')
                            h3.mb-0.text-center
                                span 
                                    i.fa.fa-caret-right.mr-2
                        a#v-pills-settings1-tab.nav-link(data-toggle='pill', href='#v-pills-settings1', role='tab', aria-controls='v-pills-settings', aria-selected='false')
                            h3.mb-0.text-center
                                span 
                                    i.fa.fa-caret-right.mr-2
                .col-11
                    #v-pills-tabContent.tab-content
                        #v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab')
                            img.img-fluid(src="assets/images/pages/img31.png", style="max-width: 100%").img-a1
                            p.text-white.mt-4 La ilustración y el figurín existen desde épocas muy remotas. El dibujo ha acompañado a la humanidad en todas las civilizaciones siendo la herramienta más utilizada para expresar ideas, incluso para mostrar el poder económico de la alta sociedad, se han desarrollado técnicas especializadas con las que se han creado grandes obras de arte. Diseñadores y marcas de moda han utilizado la ilustración para mostrar sus colecciones y generar contacto visual de las ideas con el mundo exterior.
                        #v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
                            img.img-fluid(src="assets/images/pages/img32.png", style="max-width: 100%").img-a1
                            p.text-white.mt-4 A principios del siglo pasado, aparecen las grandes revistas especializadas en moda, como Vogue, Elle, Vannity Fair, Harper's Bazaar, Telva, Glamour, Advance, Moda de Paris, Francois, Moda Práctica, Las Ziveiteilige Klaird entre otras, que incluyeron en sus portadas dibujos en figurín y dibujos planos, bocetos, esquemas, pinturas, permitiendo incursionar y desarrollar el uso de técnicas de ilustración y color hasta convertirlas en referentes para los creativos en el mundo de la moda, en su momento.
                        #v-pills-messages.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab')
                            img.img-fluid(src="assets/images/pages/img33.png", style="max-width: 100%").img-a1
                            p.text-white.mt-4 La ilustración de moda es una tarea que se encomienda a dibujantes especializados que tienen como función la expresión bidimensional de prendas de vestir en forma detallada. El dibujo en plano consiste en un boceto que representa la parte frontal, el perfil y la parte posterior, destacando el corte, la línea y los detalles de la prenda, forros y acabad os. Este tipo de representación (ropero) es de gran utilidad para el patronista, que debe interpretar y recrear con la máxima fidelidad la idea creada por el diseñador. El dibujo en plano es una especie de enlace entre el boceto y la prenda acabada y en ocasiones los creativos prefieren este tipo de dibujo al figurín.
                        #v-pills-settings.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-settings-tab')
                            img.img-fluid(src="assets/images/pages/img34.png", style="max-width: 100%").img-a1
                            p.text-white.mt-4 En la actualidad se han desarrollado otras técnicas para la actividad del dibujo plano y figurines, evolucionando a la utilización de programas digitales especializados en facilitar herramientas para el dibujo; llegando a construcciones en 3D con mayor realismo que permiten visualizar la prenda hasta el punto de casi tocarla, entrando en el mundo digital como interfase entre el creativo y el desarrollador. El figurín y el dibujo plano son herramientas indispensables para promocionar colecciones, marcas y productos de moda.
                        #v-pills-settings1.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-settings1-tab')
                            img.img-fluid(src="assets/images/pages/img35.png", style="max-width: 100%").img-a1
                            p.text-white.mt-4 “Una buena ilustración no es solamente un buen dibujo. Una ilustración siempre tiene una función, siempre hace algo: contar una historia, vender un producto, describir un entorno, enseñar el funcionamiento de algo, etc.” (Redondo, 2014, p. 3).
    
    br#ilustracion

    .header-ecored
        h2 3.1 La ilustración en el mundo de la moda
    
    .row
        .col-12
            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true')
                        h3.mb-0.text-center
                            span 
                                i.fa.fa-caret-right.mr-2
                    a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false')
                        h3.mb-0.text-center
                            span 
                                i.fa.fa-caret-right.mr-2
                    a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false')
                        h3.mb-0.text-center
                            span 
                                i.fa.fa-caret-right.mr-2
                    a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false')
                        h3.mb-0.text-center
                            span 
                                i.fa.fa-caret-right.mr-2
                    a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false')
                        h3.mb-0.text-center
                            span 
                                i.fa.fa-caret-right.mr-2
                #nav-tabContent.tab-content
                    #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                        .row.justify-content-center
                            .col-12
                                p #[b.txt-color1 La ilustración en el mundo de la moda], se convierte en la herramienta fundamental utilizada tanto por los grandes diseñadores como por los departamentos de diseño de las marcas de moda. #[b.txt-color1 Cada uno desarrolla su propia técnica], bien sea manual o digital, pero siempre teniendo presente que lo más importante es la expresión, el detalle, el manejo de color y la coherencia con el concepto desarrollado, esto permite generar armonía en toda la trazabilidad de la colección.
                                img.img-fluid(src="assets/images/pages/img36.png", style="max-width: 100%").img-a1
                    #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                        .row.justify-content-center
                            .col-12
                                p Los dibujos deben realizarse con toda #[b.txt-color1 precisión y perfección] para ser utilizados en la ficha técnica y permitir la interpretación exacta de la idea con sus detalles, los cuales pueden ser tan complejos que requieran ampliarse en dibujos adicionales denominados acercamientos, lupas o #[i zoom].
                                img.img-fluid(src="assets/images/pages/img37.png", style="max-width: 100%").img-a1
                    #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                        .row.justify-content-center
                            .col-12
                                p #[b.txt-color1 El propósito de la ilustración en el mundo de la moda, es comunicar las ideas del creativo con respecto a la inspiración de la colección], servir de fuente de información técnica para el desarrollo y despiece de los patrones, informar de las características técnicas, selección de maquinaria, proceso productivo; interpretado inicialmente desde el dibujo plano, de tal forma que sea atractivo y deseable, con proyección hacia el mercado objetivo.
                                img.img-fluid(src="assets/images/pages/img38.png", style="max-width: 100%").img-a1
                    #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                        .row.justify-content-center
                            .col-12
                                p Lo más #[b.txt-color1 importante] es que quien realice la ilustración tenga conocimiento #[b.txt-color1 de los procesos productivos], entre los que se encuentra: patronaje, maquinaria, materiales y ensamble de prendas; lo anterior debido a que el dibujo es parte integral del diseño de vestuario y esta información le permite al ilustrador interpretar y plasmar los detalles que caracterizan la idea a desarrollar.
                                img.img-fluid(src="assets/images/pages/img39.png", style="max-width: 100%").img-a1
                    #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                        .row.justify-content-center
                            .col-12
                                p En esencia, el #[b.txt-color1 objetivo] final de la Ilustración de moda es #[b.txt-color1 desarrollar un lenguaje] tan #[b.txt-color1 único y propio como su firma], creando un estilo con la espontaneidad e imaginación que requiere la moda.
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='media/documentos/Anexo_6.mp4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#tecnicas

    .header-ecored
        h2 3.2 Técnicas de ilustración y expresión de la figura humana
    
    .row.justify-content-end.bg-color12.shadow.mx-0
        .col-12.col-md-6.p-4.my-4
            h3.text-center ¿Qué es el figurín?
            p.ml-4 El figurín es la #[b.txt-color1 representación de la figura] humana con una #[b.txt-color1 idea de indumentaria], poniendo énfasis en el equilibrio total entre el estilo de vestir, el sentido de volumen y otros elementos, que ayudan a mantener unas proporciones y poses coherentes, que se ajustan para expresar distintos ideales y conceptos.
    
    .row.bg-color13.shadow.mx-0.mt-4
        .col-12.col-md-6.p-4.my-4
            h3.text-center Y en la actualidad…
            p.mr-4 En la actualidad y en décadas pasadas, la composición, los materiales y los gestos de los figurines #[b.txt-color1 cambian] en respuesta a las mismas consideraciones que afectan al diseño de prendas, reflejando las condiciones sociales de una época particular, por ejemplo, #[b.txt-color1 la revolución sexual de la década de 1960] suscitó que la ilustración de moda se volviera más atrevida.
    
    .row.justify-content-end.bg-color14.shadow.mx-0.mt-4
        .col-12.col-md-6.p-4.my-4
            h3.text-center El rol del ilustrador
            p.ml-4 Por lo anterior, el ilustrador debe #[b.txt-color1 seleccionar la técnica] de acuerdo al textil en el que se elaborará la prenda, por ejemplo, en una transparencia se usa una técnica a base de agua como acuarela, #[i ecoline], de acuerdo a lo que quiera expresar o representar.
    
    .row.bg-color15.shadow.mx-0.mt-4
        .col-12.col-md-6.p-4.my-4
            h3.text-center Las técnicas de ilustración
            p.mr-4 Las #[b.txt-color1 técnicas de ilustración] están relacionadas con la expresión, pose, sentimiento y actitud reflejados en el figurín: rigidez, suavidad, delicadeza, movimiento en la figura humana. 
            p.mr-4 Se clasifican en #[b.txt-color1 técnicas secas] (lápiz, lápices de colores, lápices conté, pasteles, crayolas), siendo el lápiz la técnica más utilizada, por la facilidad en el manejo, corrección y evolución en el dibujo; #[b.txt-color1 técnicas húmedas] (marcadores o rotuladores, acuarela, acrílico, ecoline) y otras técnicas no convencionales (el té, el café, el maquillaje); cada marca utiliza estas técnicas #[b.txt-color1 dependiendo del segmento o perfil de usuario] al que va dirigida.

    .row.mx-0.bg-color1.rounded.mt-4.shadow
        .col-12.my-5
            .row.justify-content-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
                .col-9
                    p.mb-0 Utilizada por los diseñadores para plasmar sus ideas sobre el papel, la ilustración de figurines de moda a menudo requiere dibujos rápidos y gestuales que transmiten la esencia de una prenda. Estas ilustraciones suelen presentar figuras largas y alargadas para imitar la altura de las modelos y, como el enfoque está en la ropa –y no en los rostros– los rasgos faciales a menudo son escasos. Dentro de la propia ilustración de moda existen muchos estilos diferentes, algunos más rudimentarios y otros más pulidos.
                .col-auto.align-self-end
                    img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")
                .col-9.mt-4.text-right
                    p.txt-color1.mb-0 #[i (Vargas, 2019)]
    
    .row.mt-4.mx-0.shadow.bg-color10.p-4
        .col-12.px-0
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    li(data-target='#carouselExampleIndicators', data-slide-to='4')
                    li(data-target='#carouselExampleIndicators', data-slide-to='5')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='assets/images/pages/img44.png', alt='0')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img45.png', alt='1')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img46.png', alt='2')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img47.png', alt='3')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img48.png', alt='4')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/img49.png', alt='5')
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
            section.my-4
                .row.justify-content-center
                    .col-auto
                        a(href="https://cynthiasmith.com.ar/amano/" target="_blank").media-link
                            img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                            .media-link-title
                                p Ilustración a mano
    
    br#estructuras

    .header-ecored
        h2 3.3 Estructuras del figurín, principios y técnicas para elaborar figurines
    
    .card.shadow
        .card-body.bg-color16
            .row.m-4.align-items-center
                .col-12.col-md-6.bg-color17
                    h3 Dibujar para la moda: “dibujo de moda”
                    p.mt-4 Los antiguos griegos consideraban que la belleza era una cuestión de proporciones perfectas. Según esta concepción, el dibujo de la figura clásica utilizaba la cabeza, -vista en relación con el cuerpo como un todo- como una unidad de medida para determinar puntos de referencia y amplitudes para las diferentes partes del cuerpo. “A diferencia del Arte, el dibujo de moda requiere una evaluación menos objetiva de la realidad. El figurín de moda, o #[b.txt-color1 croquis], es infinitamente maleable, ideal para visualizar estándares de belleza que a menudo son inalcanzables.”
                    p.mt-4 #[i (Wesen, 2012, p.33) ]
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img50.png", style="max-width: 100%").img-a1
            .row.m-4.align-items-center
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img51.png", style="max-width: 100%").img-a1
                .col-12.col-md-6.bg-color18
                    h3 ¡El figurín es la herramienta!
                    p.mt-4 El figurín es una herramienta para visualizar los conceptos de diseño, la forma en que se estilice debe servir al propósito de la marca o del creativo de moda, lo importante es la coherencia de la composición de los figurines que reflejen el perfil del usuario.
            .row.m-4.align-items-center
                .col-12.col-md-6.bg-color17
                    h3 Patrón de medida único
                    p.mt-4 La cabeza, es el patrón de medida elegido para la ilustración de la moda, porque es la parte del cuerpo humano que menos transformaciones tiene durante el crecimiento, por esta razón se elige como canon de medida. Siendo la medida normal en proporciones siete cabezas y media, la ideal ocho cabezas y media para iniciar la ilustración de un figurín, nueve, diez, once y doce cabezas una estilización de la figura y decisión personal. La clave está en experimentar y luego escoger las proporciones que más convengan.
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img52.png", style="max-width: 100%").img-a1
            .row.m-4.align-items-center
                .col-12.col-md-6.bg-color18
                    h3 Boceto y proporciones
                    p.mt-4 La representación de la figura humana y sus proporciones es un boceto como la herramienta más sencilla para tomar notas y transmitir o recordar ideas, diseños o tendencias de moda. 
                    p.mt-4 El ilustrador conocerá las posiciones básicas del cuerpo: donde colocar las líneas de cadera en relación con la línea de los hombros, cómo girar la pierna y el brazo para indicar movimiento y cómo vestir el cuerpo con una gran variedad de estilos. 
                    p.mt-4 En la actualidad, se permite la transformación del figurín con características físicas más acordes a la realidad de los usuarios de las diferentes prendas de vestir; es decir, con siluetas más reales, alcanzando la democratización de la moda (figuras obesas, delgadas, embarazadas, estatura alta, estatura baja, cuerpos mutados, cuerpos protésicos, entre otros).
                    p.mt-4En el material complementario “Cómo dibujar figurines de moda desde cero” en donde podrá profundizar un poco sobre la construcción de figurines.
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img53.png", style="max-width: 100%").img-a1
            img.img-fluid(src="assets/images/pages/img54.png", style="max-width: 100%").img-a
        .row.justify-content-center.bg-color10.mx-0
            .col-10.my-4
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/t5A6FTWU8Kc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#ropero

    .header-ecored
        h2 3.4 Ropero, desarrollo e interpretación por medio de dibujos planos o geometrales
    
    .row.mx-0.bg-color1.rounded.mt-4.shadow.p-4.mb-4
        .col-12
            p.mb-0 La técnica de dibujo plano es la más utilizada por todo tipo de personas que quieren plasmar sus ideas de una forma inmediata; desarrollarla, será el inicio de una creación de vestuario.
    
    .card.shadow
        .card-body
            p La técnica de dibujo plano es la más utilizada por todo tipo de personas que quieren plasmar sus ideas de una forma inmediata; desarrollarla, será el inicio de una creación de vestuario. 
            p.mt-4 El perfeccionamiento de esta técnica es la que se llama “Ropero”, que se caracteriza por tener una línea clara y precisa de cada uno de los detalles que tiene la prenda, siempre teniendo en cuenta el control de las proporciones que se manejan con reglas a escala para mayor exactitud de las medidas; sin embargo, en la mayoría de los casos se realiza a mano alzada y es el dibujante con su experiencia el que logra equilibrar las dimensiones del dibujo.
            p.mt-4 Para lograr que la ilustración entregue toda la información pertinente al desarrollador de moda, es importante que este conozca de: patronaje, proporciones, confección de prendas y materiales e insumos; porque son estos elementos los que le dan la validez al dibujo por la forma como se caracterizan; bien sea en costuras, largos de prendas, ruedos, dobladillos, cortes, alforzas, recogidos, pliegues y accesorios como hebillas, botones y cierres, entre otros.
            p.mt-4 La interpretación que el dibujante logre plasmar en el boceto, facilitará el buen desarrollo que se dará en todos los departamentos de la empresa, los cuales toman del dibujo la parte que les corresponde: patronaje, trazo, corte, ensamble, calidad y terminación; logrando la producción homogénea de las prendas a confeccionar. 
            p.mt-4 “Los bocetos planos se utilizan para las presentaciones y para la producción, en la que se requiere un mayor grado de información técnica”.
            p.mt-4 #[i (Wesen, 2012, p.7)]
        .row.mt-4.mx-0.shadow.bg-color10.p-4.justify-content-center
            .col-8.px-0
                #carouselExampleIndicators1.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators1', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='2')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='3')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='4')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='5')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/img55.png', alt='0')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img56.png', alt='1')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img57.png', alt='2')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img58.png', alt='3')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img59.png', alt='4')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img60.png', alt='5')
                    a.carousel-control-prev(href='#carouselExampleIndicators1', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators1', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next