.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td (Universidad Nacional de San Juan - Facultad de ingeniería - Departamento Matemática, 2018) Dibujo y sistemas de representación - Uso de las escuadras
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_2.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (Navarro, s.f.) Uso de Escuadras Como hacer rectas paralelas y perpendiculares
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_3.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (Geometrales, s.f.) Geometrales
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_4.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (Etiduela, s.f.) Acotación
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_5.gif", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (Johnson, 2000) Dibujo I Parte 1
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_7.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (Company et al., s.f.) Dibujo normalizado
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_8.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (CPR de Avíles, s.f.) Bloque: Técnicas de expresión y comunicación
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_9.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Prueba de acceso a la universidad - Mayores de 25 años - Fase específica dibujo técnico
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_10.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (SENA et al., 1984) Fundamentos de dibujo - Módulo instruccional No. 5
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_11.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (IES Ramón Menéndez Pidal, s.f.) EDUCACIÓN PLÁSTICA Y VISUAL trazados básicos
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_12.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver