include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Alcoceba, L. M. (2015). Piel Artificial: metamorfosis arquitectónica del cuerpo a través de la superficie. (Tesis doctoral, Universidad Politécnica de Madrid).", "http://oa.upm.es/40268/1/MARIA_DEL_BREZO_ALCOCEBA_LOPEZ_ARAQUISTAIN.pdf")

        +referenciaItem("Altuna. (s.f.). Profesor Altuna. (Video). YouTube.", "https://www.youtube.com/user/profesoraltuna/videos?view=0&sort=da&flow=grid")

        +referenciaItem("Altuna. (2019a). Letra normalizada - Con audio. (Video). YouTube.", "https://www.youtube.com/watch?v=Qp_OPq1FQwk&t=83s")

        +referenciaItem("Altuna. (2019b). Trazado de paralelas y perpendiculares. (Video). YouTube.", "https://www.youtube.com/watch?v=Kwb7U5sC9dI")

        +referenciaItem("Arte Divierte. (2018). Perspectiva de 2 puntos para artistas - Muy fácil. (Video). YouTube.", "https://www.youtube.com/watch?v=IREoh0PkgTw&feature=youtu.be")

        +referenciaItem("ARTOSKETCH. (2018). Como dibujar una perspectiva a dos puntos de fuga – TUTORIAL. (Video). YouTube.", "https://www.youtube.com/watch?v=un6QINDDsjs&feature=youtu.be")

        +referenciaItem("Arturo geometría. (s.f.). Arturo Geometría. (Video). YouTube.", "https://www.youtube.com/c/ArturoGeometria/videos?view=0&sort=da&flow=grid")

        +referenciaItem("Arturo Geometría. (2014). Giro de una figura (Transformaciones geométricas: Igualdad). (Video). YouTube.", "https://www.youtube.com/watch?v=NummIe4XG2U")

        +referenciaItem("Arturo Geometría. (2019). Acotación - Normas básicas para aprender a acotar. (Video). YouTube.", "https://www.youtube.com/watch?v=v1vjHB60c8Q")

        +referenciaItem("Avilés, I. A. (2016). Reflexiones en torno a la moda: tensiones, paradojas y frivolidades. Apuntes sobre Georg Simmel y Gabriel de Tarde. BAJO PALABRA. Revista de Filosofía II Época, 12, 265-273. DOI: ", "http://dx.doi.org/10.15366/bp2016.12.022")

        +referenciaItem("Baeza, J. (0). Figurín de moda: manual para estudiantes. Editorial Nobuko.", "")

        +referenciaItem("Bartolome. (2015). Líneas normalizadas. Dibujotecnico.Com.", "http://www.dibujotecnico.com/lineas-normalizadas/")

        +referenciaItem("Biguri Z. I. (s.f.). Dibujo Técnico.", "https://ibiguridt.wordpress.com/temas/vistas/#vistas")

        +referenciaItem("Carapia, G. D. y García, C. J. (2019). Semiótica de la Moda. (Video). YouTube.", "https://www.youtube.com/watch?v=JWKhsr9pqsc")

        +referenciaItem("Castellanos, W. (2009). Dibujo técnico. El Cid Editor | apuntes.", "")

        +referenciaItem("Chromat. (2019). Ten Year Anniversary Runway Show. (Video). YouTube.", "https://youtu.be/9t_CihSARHE")

        +referenciaItem("Company, P., Gomis, J. M., Ferrer, I. & Contero, M. (s.f.). DibujoNormalizado.", "")

        +referenciaItem("Concepto.de. (s.f.). Dibujo Técnico - Concepto, tipos y líneas que se utilizan.", "https://concepto.de/dibujo-tecnico/")

        +referenciaItem("CPR de Avíles. (s.f.). Bloque: técnicas de expresión y comunicación (p. 36).", "")

        +referenciaItem("Definicion.de. (s.f.). Definicion de sastre. Retrieved July 6, 2020.", "https://definicion.de/sastre/")

        +referenciaItem("Dibujar Bien. (2013). Cómo dibujar bien: secretos de las proporciones y medidas. Dibujar Bien.com. [video]. Youtube.", "https://www.youtube.com/watch?v=8wm4YXIvGO0")

        +referenciaItem("Dibujo técnico paso a paso. (2019). Traslación de figuras geométricas - Dibujo técnico paso a paso. Transformaciones geométricas. (Video). YouTube.", "https://www.youtube.com/watch?v=CYK5rZE6hW4")

        +referenciaItem("Drudi, E. (2010). Dibujo de figurines para el diseño de moda / Amsterdam; Singapore: Pepin. Pags. 352.", "")

        +referenciaItem("Drudi, E. (2011). Dibujo de figurines para el diseño de moda masculina. / Amsterdam: The Pepin Press.  Págs. 400", "")

        +referenciaItem("Ejercicio de reconocimiento de la figura humana. (2015). Recuperado de Material de formación del instructor Luis Alfonso Hincapié Echeverri. SENA", "")

        +referenciaItem("EPV1PAC. (2017). Uso de escuadra y cartabón, paralelas y perpendiculares. (Video). YouTube.", "https://www.youtube.com/watch?time_continue=3&v=okjnJuAzG84&feature=emb_logo")

        +referenciaItem("Etiduela. (s.f.). Acotación.", "http://www.etitudela.com/profesores/llr/paginawebdibujo/downloads/acotacion.pdf")

        +referenciaItem("Farlex. (s.f.). The free dictionary. The Free Dictionary by Farlex.", "https://es.thefreedictionary.com/cosmética")

        +referenciaItem("Fernández C. (2016). Aprende sobre el uso del escalímetro en un minuto. Modos de uso del escalímetro. (Video). YouTube.", "https://www.youtube.com/watch?v=Cihw88CFEr4")

        +referenciaItem("Feyerabend, F. V. (2014). Figurines de moda: patrones para ilustración de moda. Editorial Gustavo Gili. Geometrales. (s.f.).", "")

        +referenciaItem("Gómez, W. (2013). Para qué es el dibujo técnico. (Video). YouTube.", "https://www.youtube.com/watch?v=gCTalQvVmeA&feature=youtu.be")

        +referenciaItem("González, C. (2017). Dibujo técnico: tipos de línea, grosores y usos - MVBlog.", "https://www.mvblog.cl/apuntes/dibujo/dibujo-tecnico-tipos-de-linea-y-usos/")

        +referenciaItem("Hernani, J. (2016). Escalas - Dibujo técnico clase 5. (Video). YouTube.", "https://www.youtube.com/watch?v=2dzfmbITR7o")

        +referenciaItem("Ideas en 5 minutos CHICAS. (2018). 14 dibujos antiestrés. (Video). YouTube.", "https://www.youtube.com/watch?v=GcaRZAsjIa4&feature=youtu.be")

        +referenciaItem("IES Ramón Menéndez Pidal. (s.f.). Educación plástica y visual. Trazados básicos. 1–13.", "")

        +referenciaItem("Johnson, S. (2000). Dibujo I (Issue 24, pp. 38–51). Red Tercer Milenio.", "")

        +referenciaItem("Jorge Manuel. (s.f.). Dimensión Cota - Pinterest. Pinterest.", "https://www.pinterest.es/pin/312366924129653797/?nic_v1=1aHzF6Qj7kxamPeUpupd8Ep8UM3Dv%2BquUKwn96BEBBExyc2kMhRYATeRbiK7aHT2Wk")

        +referenciaItem("Lorella. (2016, mayo 20). ¿Qué es la teoría de la Gestalt? [Web log post].", "https://www.stampaprint.net/es/blog/acerca-de-la-impresion/la-teoria-la-gestalt")

        +referenciaItem("Mifeng. (2019). Fashion Design. [video]. Pinterest.", "https://co.pinterest.com/pin/765119424183507247/")

        +referenciaItem("Mulet, J. (2014). Dibujar una figura en perspectiva isométrica con curva. (Video). YouTube.", "https://www.youtube.com/watch?v=wQeEt2RFfK0&feature=youtu.be")

        +referenciaItem("Navarro, S. (s.f.). Uso de escuadras ¿Cómo hacer rectas paralelas y perpendiculares?", "https://sjnavarro.files.wordpress.com/2008/09/uso-escuadras.pdf")

        +referenciaItem("Ocampo, P. M. (2009). Semiótica y estética: comunicación. Editorial Trillas, 2009. Prin.", "")

        +referenciaItem("Priest, T. F. (2001a). Líneas, forma y espacio. En Guía para vestir. McGraw-Hill. Interamericana.", "")

        +referenciaItem("Priest, T. F. (2001b). Tú vestuario. En Guía para vestir. McGraw-Hill Interamericana.", "")

        +referenciaItem("Papelería Distrimar. (2020). Cómo hacer paralelas y ángulos con escuadra y cartabón correctamente - Papelería Distrimar. Papeles Distrimar.", "https://www.distrimar.es/como-hacer-paralelas-angulos-escuadra-cartabon-correctamente.html")

        +referenciaItem("Parramón, P. E. (2007). Manuales Parramón. Dibujo (2a. ed.). Parramón Paidotribo S.L.", "")

        +referenciaItem("Paz, L. (2014). Cómo dibujar figurines de moda desde cero (Proporciones) Curso de dibujo. [video]. Youtube.", "https://www.youtube.com/watch?v=t5A6FTWU8Kc")

        +referenciaItem("Pérez, R. E. (1998). Dibujo técnico y geométrico. McGraw-Hill Interamericana.", "")

        +referenciaItem("Profe Garro. (2018). Manejo de compás | Ejercicio de aplicación fácil. (Video). YouTube.", "https://www.youtube.com/watch?v=cPNB1f1Cxhc")

        +referenciaItem("Proyecto Parramón ediciones. (2010). Diseño de accesorios de moda.", "")

        +referenciaItem("Prueba de acceso a la universidad - Mayores de 25 años - Fase específica dibujo técnico. (s.f.).", "")

        +referenciaItem("Rodríguez, M. D. (2015a). La Gestalt. [Video]. Linkedin.", "https://www.linkedin.com/learning/diseno-para-no-disenadores-formato-y-composicion/la-gestalt?u=84303994")

        +referenciaItem("Rodríguez M. D. (2015b). El rectángulo. [Video]. Linkedin.", "https://www.linkedin.com/learning/diseno-para-no-disenadores-formato-y-composicion/el-rectangulo?u=84303994")

        +referenciaItem("Rodríguez M. D. (2015c). El triángulo. [Video]. Linkedin.", "https://www.linkedin.com/learning/diseno-para-no-disenadores-formato-y-composicion/el-triangulo?u=84303994")

        +referenciaItem("Rodríguez M. D. (2015d). El círculo. [Video]. Linkedin.", "https://www.linkedin.com/learning/diseno-para-no-disenadores-formato-y-composicion/el-circulo?u=84303994")

        +referenciaItem("Rodríguez M. D. (2015e La línea. [Video]. Linkedin.", "https://www.linkedin.com/learning/diseno-para-no-disenadores-formato-y-composicion/la-linea?u=84303994")

        +referenciaItem("Romano, A. M. (2019). Forma. En Elementos de diseño: enfoque teórico general: práctica textil e indumentaria. Ediciones Infinito.", "")

        +referenciaItem("Real Academia Española. (s.f.). DRAE | Diccionario de la lengua española | Edición del Tricentenario | RAE - ASALE. Retrieved July 6, 2020.", "https://dle.rae.es/")

        +referenciaItem("Redondo, G. M. (2014). Ilustración digital. Ministerio de Educación de España.", "https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/114112?page=1")

        +referenciaItem("SENA, Barco, R., Martínez, S. y Montivar, Á. (1984). Fundamentos de dibujo - Módulo instruccional No. 5. 35.", "")

        +referenciaItem("Significados. (s.f.). Significado de línea (¿Qué es?, concepto y definición) - Significados. Significados.Com.", "https://www.significados.com/linea/")

        +referenciaItem("Smith, C. (2012). Curso de geometrales y fichas técnicas, por Cynthia Smith. (Video). YouTube.", "https://www.youtube.com/watch?v=FYNESsXntAw")

        +referenciaItem("Smith, C. (s.f.). Ilustración a mano alzada.", "https://cynthiasmith.com.ar/amano/")

        +referenciaItem("Takamura, Z. (2007). Diseño de moda: Conceptos básicos y aplicaciones prácticas de ilustración de moda. Promopress.", "")

        +referenciaItem("TraZArte - El Sendero del Dibujante. (2013). Técnicas para aprender a dibujar - el trazo y ejercicios para calentar. [video]. Youtube.", "https://www.youtube.com/watch?v=R6olMYk8KYg")

        +referenciaItem("TRAZO DE LINEAS - Dibujo técnico. (2014).", "https://sites.google.com/site/cecytehoctun/trazo-de-lineas")

        +referenciaItem("Universidad Nacional de San Juan - Facultad de ingeniería - Departamento Matemática. (2018). Dibujo y sistemas de representación - Uso de las escuadras.", "")

        +referenciaItem("Vargas, S. (2019). 8 Diferentes estilos de dibujo que puedes probar ahora mismo.", "https://mymodernmet.com/es/estilos-dibujo/")

        +referenciaItem("Wesen, B. M. (2012). Dibujo de moda: técnicas de ilustración para diseñadores de moda.", "")