include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Aitex, Generaliitat Valenciana, Instituto Valenciano de Competitividad Empresarial, & Regional, F. E. de D. (s.f.). Informe de resultados TECMOD.", "")

        +referenciaItem("Aranaga, M. (2014). Porque nos vestimos [video] YouTube.", "https://www.youtube.com/watch?v=prrhTLfMKNg")

        +referenciaItem("Argentubetv. (2014). Ropa blindada: un hombre recibió dos disparos - YouTube. YouTube.", "https://www.youtube.com/watch?v=-HjTNGLh35s")

        +referenciaItem("ArtGio (2014). Colección de 21 videos de Teoría del color. [canal de video] YouTube.", "https://www.youtube.com/watch?v=9XlC5nxKSaw&list=PLebxDwZTxZebk_a6E1LroiN4Bj_wCpo8l")

        +referenciaItem("Baena, M. & Baquero, M. (2006). El confort como una característica importante en el diseño de prendas. Actas de Diseño N°1.", "")

        +referenciaItem("Baquero, M. & Baena, M. (2007). La prenda como producto de vestuario. Funcionalidad y comodidad. Iconofacto, 3(4), 96–99.", "")

        +referenciaItem("Barraza, A. (2010). La Antropometría en la Moda. Criterios de identificación del consumidor | Catálogo Digital de Publicaciones DC. Actas de Diseño.", "https://fido.palermo.edu/servicios_dyc/publicacionesdc/vista/detalle_articulo.php?id_libro=147&id_articulo=5990")

        +referenciaItem("Beginners. (2018). Water Soluble Graphites & Charcoal Pencil [video] YouTube.", "https://youtu.be/1_2nfvIwuHY")

        +referenciaItem("Bitanga, M. (2019, April 2). Vollebak Black Squid Jacket | HiConsumption. Hiconsumption.", "https://hiconsumption.com/vollebak-black-squid-jacket/")

        +referenciaItem("Canal de Sociología. (2016). Función y Forma. Una mirada al diseño y la innovación en España [video] YouTube.", "https://www.youtube.com/watch?v=gDdecWi3Cqo")

        +referenciaItem("Castillero, O. (s.f.). Ergonomía: qué es y cuáles son sus 4 tipos y funciones. Psicología y Mente. Retrieved July 13, 2020.", "https://psicologiaymente.com/miscelanea/ergonomia")

        +referenciaItem("CUAED, & UNAM. (2019). Estética y función en el diseño [video] YouTube.", "https://www.youtube.com/watch?v=VwcEM7yH_BY&t=49s")

        +referenciaItem("Decker Kris (2017). Los fundamentos de la comprensión de la teoría del color.", "https://99designs.com.co/blog/tips/the-7-step-guide-to-understanding-color-theory/")

        +referenciaItem("Definicion.de. (s.f.). Definicion.", "https://definicion.de/sastre/")

        +referenciaItem("De los Santos, A. (s.f.). Fundamentos visuales 2: Teoría del Color.", "http://ww7.anibaldesigns.com/")

        +referenciaItem("Dinngo. (s.f.). Design Thinking en Español. Designthinking.", "http://designthinking.es/inicio/index.php")

        +referenciaItem("Durán, V. A. (2015). Prendas funcionales Indumentaria para niños con parálisis cerebral con cuadriplejia. Universidad de Palermo.", "")

        +referenciaItem("El país. (2018). La revolución de la ropa inteligente | Tecnología [video] YouTube.", "https://www.youtube.com/watch?v=1s8DXEXFDY8&feature=youtu.be")

        +referenciaItem("Fájate® Colombia. (2020a). Delié es mayor confort [video] YouTube.", "https://www.youtube.com/watch?v=Zq-fE5zyx1I")

        +referenciaItem("Fájate® Colombia. (2020b). Fájate for men [video] YouTube.", "https://www.youtube.com/watch?v=PDAc7BXifAM")

        +referenciaItem("Farlex. (s.f.). The free dictionary. The Free Dictionary by Farlex. Retrieved July 6, 2020.", "https://es.thefreedictionary.com/cosmética")

        +referenciaItem("Fernández, C. & Velázquez, M. (2013). Experiencias y prácticas creativas alrededor del vestuario – [PROYECTOMEDUSSA] Claudia Fernández-Silva. Proyecto Medussa.", "https://proyectomedussa.com/experiencias-y-practicas-creativas-alrededor-del-vestuario/")

        +referenciaItem("Fernández, C. (2013). El vestuario como identidad, del gesto personal al colectivo – [PROYECTOMEDUSSA]. Proyecto Medussa.", "https://proyectomedussa.com/el-vestuario-como-identidad-del-gesto-personal-al-colectivo/")

        +referenciaItem("Fernández, C. (2013). El vestido como proyecto social del cuerpo. Congreso Internacional de Ciencias Sociales Universidad Pontificia Bolivariana - Memorias, 448–463.", "")

        +referenciaItem("Fernández, C. & Echeverri, A. (2013). El vestido como vehículo de la transformación del cuerpo – [PROYECTOMEDUSSA] Claudia Fernández-Silva. Proyecto Medussa.", "https://proyectomedussa.com/el-vestido-como-vehiculo-de-la-transformacion-del-cuerpo/")

        +referenciaItem("Fernández, G. (2016). Comportamientos de la moda y la imagen en tiempos contemporáneos. Universidad Nacional Autónoma de México.", "")

        +referenciaItem("Fernández, J. (s.f.). La ropa inteligente disponible en el deporte. Tecnología Del Futuro.", "https://tecnologiadelfuturo.es/tecnologia-deporte/ropa-inteligente-disponible-en-el-deporte/")

        +referenciaItem("Fútbol Emotion. (2014). Ropa térmica para el futbolista SP [video] YouTube.", "https://www.youtube.com/watch?v=TW_EP9gr8ro")

        +referenciaItem("Geringer, de Nieves, and Soto (2001). La moda: color, estilo y diseño (3a. ed.). McGraw-Hill Interamericana.", "")

        +referenciaItem("Gonzalez Gonzalez, A. M. (2008). Distincion social y moda. EUNSA.", "https://elibro.net/es/lc/senavirtual/titulos/47429")

        +referenciaItem("H&M. (2013a). H&M for Brick Lane Bikes: Coming together [video] YouTube.", "https://www.youtube.com/watch?v=mzxS3vl0418")

        +referenciaItem("H&M. (2013b). H&M for Brick Lane Bikes: Men’s Fashion - Look Book  [video] YouTube.", "https://www.youtube.com/watch?v=SevMbAEKV34")

        +referenciaItem("Healthia. (s.f.). Ropa Inteligente l Healthia.es. Healthia.", "https://healthia.es/blog/tecnologia-deporte/ropa-inteligente/")

        +referenciaItem("Hincapié, Luis Alfonso. (2014). Teoría del Color. SENA, Itagüí, Antioquia.", "")

        +referenciaItem("Kim, J., Kim, Y., Oh, J. y Kim, K., (2017). Interactive Smart Fashion Using User-Oriented Visible Light Communication: The Case of Modular Strapped Cuffs and Zipper Slider Types. Neural Plasticity, 1(1), 2–3.", "https://doi.org/10.1155/2017")

        +referenciaItem("Jungwoo, K. (2013). Watercolor on paper [Archivo de video].", "https://co.pinterest.com/pin/356699232985283535")

        +referenciaItem("Jones, S. J. (2002). Diseño de moda (J. Santamaría  tr (Ed.)). Hong Kong: Blume.", "")

        +referenciaItem("La indumentaria ¿Qué “decimos” con nuestra forma de vestir? (s.f.).", "https://www.protocolo.org/social/vestuario/la-indumentaria-que-decimos-con-nuestra-forma-de-vestir.html")

        +referenciaItem("La Nación. (2011). Ropa infantil funcional y ecológica, con libros incluidos [video] YouTube.", "https://www.youtube.com/watch?v=CWAKQ9BOJP0")

        +referenciaItem("LAPoliceGear. (2017). LA Police Gear - Atlas Tactical Pant with STS [video] YouTube.", "https://www.youtube.com/watch?v=9c804j6JkcM")

        +referenciaItem("Leonisa Channel. (2019). This Is The Shapewear You MUST Have! [video] YouTube.", "https://www.youtube.com/watch?v=efH0S6geVwk")

        +referenciaItem("Leonisa Channel. (2020a). LEONISA | Leggings de control [video] YouTube.", "https://www.youtube.com/watch?v=wrtQVm14h1Q")

        +referenciaItem("Leonisa Channel. (2020b). Vestido de baño con control de abdomen [video] YouTube.", "https://www.youtube.com/watch?v=zpat2C2yQbgm")

        +referenciaItem("López, J. (2010). Perversa segunda piel: Ética, estética y política en el vestido según Jean-Jacques Rousseau. Cuadernos Dieciochistas, 11(11), 235–270.", "")

        +referenciaItem("Matus, N. (2017). Ejemplos de ergonomía en el vestuario y la moda. Televisión Universidad de Concepción.", "https://www.tvu.cl/comunidades/modas/2017/08/02/ejemplos-de-ergonomia-en-el-vestuario-y-la-moda.html")

        +referenciaItem("MIM (2016). Teoría del color II. El círculo cromático.", "https://www.mlmonferrer.es/teoria-del-color-ii-circulo-cromatico/#:~:text=El%20c%C3%ADrculo%20crom%C3%A1tico%20es%20tradicional,primer%20c%C3%ADrculo%20a%20todo%20color")

        +referenciaItem("Munari, B. (2016a). ¿Como nacen los objetos?: apuntes para una metodología proyectual. Editorial Gustavo Gili.", "https://elibro.net/es/lc/senavirtual/titulos/45611")

        +referenciaItem("Munari, B. (2016b). Diseño y comunicación visual (2a. ed.). Editorial Gustavo Gili.", "https://elibro.net/es/lc/senavirtual/titulos/45559")

        +referenciaItem("Neumivakin, V. (s.f.). La Moda: ¿Qué es? Origen, Sistema de signos y Comunicación no verbal. Imagen de Mujer.", "https://imagendemujer.com/la-moda-como-lenguaje/")

        +referenciaItem("Pacheco, D. (2019). Exploración de la carga simbólica en prendas de vestir que otorgaron poder a la mujer en el proceso de liberación femenina. Universidad Pontificia Bolivariana.", "")

        +referenciaItem("Parra, C. (2013). ¿Qué es el círculo cromático y cuál es su importancia en el diseño?", "https://rockcontent.com/es/blog/circulo-cromatico/")

        +referenciaItem("Parramón Paidoribo, E. (2012). Guía para principiantes. Color y creatividad. Parramón Paidotribo S.L.", "https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/123856?page=13")

        +referenciaItem("Parramón Paidoribo, E. (2017). Todo sobre la técnica del color. Parramón Paidotribo S.L.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/123958")

        +referenciaItem("Pce-ibérica. (s.f.). Sensórica. Pce-Iberica.Es.", "https://www.pce-iberica.es/instrumentos-de-medida/sistemas/sensorica.htm")

        +referenciaItem("Pramadita, K. (s.f.). Ergonomic Fashion. Pinterest.", "https://id.pinterest.com/krisnapramadita/ergonomic-fashion/")

        +referenciaItem("Real Academia Española. (s.f.). DRAE | Diccionario de la lengua española | Edición del Tricentenario | RAE - ASALE.", "https://dle.rae.es/")

        +referenciaItem("Rodríguez, D. (2015). Diseño para no diseñadores: color.", "https://www.linkedin.com/learning/diseno-para-no-disenadores-color/como-percibimos-el-color?autoplay=true&resume=false&u=84303994")

        +referenciaItem("SENA, Gaviria, F., Fernández, K., Henao, J., Cock, J., Vega, L., Osorio, M., & Botero, L. (2018). AntropometriaApp. Grupo de Investigación INAMOD.", "http://antropometria.herokuapp.com/")

        +referenciaItem("Sevilla, G., & Echeverri, Á. M. (2018). El diseño inclusivo en el producto vestimentario. Proyecto funciona- lidades diversas. Seminario internacional de investigación en diseño, 222–229. 2256-4276 WEB-ONLINE ISSN: 2256-4268 CD-ROM.", "")

        +referenciaItem("Stanford Graduate School of Business. (2017).  Dress to Communicate [video] YouTube.", "https://www.youtube.com/watch?v=_tAyf9tOkW4")

        +referenciaItem("Suny, T. (2018). EL CUERPO VESTIDO EN LA SOCIEDAD OCCIDENTAL. Temas de Psicoanálisis.", "")

        +referenciaItem("Tapia, E. (2018). Ergonomía en la vestimenta | Tendencias compartidas. Moda en el diseño. Modaeneldiseno.Blogspot.Com.", "http://modaeneldiseno.blogspot.com/2018/11/articulo_62.html")

        +referenciaItem("Thames, B. (2001). Dibujo y diseño de modas. McGraw-Hill Interamericana.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/74073")

        +referenciaItem("Universidad de Palermo (2010). La comunicación y el simbolismo del color.", "https://fido.palermo.edu/servicios_dyc/publicacionesdc/vista/detalle_articulo.php?id_libro=147&id_articulo=6002")

        +referenciaItem("Universidad Eafit (2016). ¿Cómo se hacen los colores?", "http://www.eafit.edu.co/ninos/reddelaspreguntas/fisica/Paginas/como-se-hacen-los-colores.aspx")

        +referenciaItem("Urbina, I. (2011). Moda + Diseño Industrial: objetos para usar, tecnologías diversas - di-conexiones. DI-CONEXIONES.", "https://www.di-conexiones.com/la-moda-diseno-industrial-objetos-para-usar-tecnologias-diversas/")

        +referenciaItem("Vendrell, J. (2016).  Ropa técnica y minimalista para viajar cómodo [video] YouTube.", "https://www.youtube.com/watch?v=C--IDz6VPgc")

        +referenciaItem("Veneziani, M. (2011). La imagen de la moda. Editorial Nobuko.", "https://elibro.net/es/lc/senavirtual/titulos/77684")

        +referenciaItem("Verde, M. (2017). Códigos de vestimenta del futuro | Miguel Verde | TEDxUNAMAcatlán [video] YouTube.", "https://www.youtube.com/watch?v=uqQwKOYZn9w")

        +referenciaItem("Victoriano. (2011). Antropometría y ergonomía aplicada al diseño de indumentaria. Universo de La Moda.", "http://universodelamoda-dv.blogspot.com/2011/07/ergonomia.html")

        +referenciaItem("Vsauce. (2013). Why Do We Wear Clothes? [video] YouTube.", "https://www.youtube.com/watch?v=E4HGfagANiQ")

        +referenciaItem("Weber, J. (2001). Entender el color. En La ropa: confección diseño y materiales. (pp. 158 a 169). McGraw-Hill Interamericana.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/101917")

        +referenciaItem("What Dreams May Come. (1998). Película de Vicent Ward [video] YouTube.", "https://youtu.be/IXOGgu0MuCs")

        +referenciaItem("Wikipedia. (s.f.). Wikipedia, la enciclopedia libre. Wikipedia. Retrieved July 6, 2020.", "https://es.wikipedia.org/wiki/Código_de_vestimenta")